MP04 Lenguaje de Marcas/UF1_XML_HTML_CSS/PR12_DTD_Molina_william/PR120.dtd

<!ELEMENT catalog (plant+)>
<!ATTLIST plant id CDATA #REQUIRED>
<!ELEMENT plant (common, botanical, zone, light, price, availability)>
<!ELEMENT common (#PCDATA)>
<!ELEMENT botanical (#PCDATA)>
<!ELEMENT zone (#PCDATA)>
<!ELEMENT light (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT availability (#PCDATA)>