MP04 Lenguaje de Marcas/UF1_XML_HTML_CSS/P01_WilliamMolina/003.dtd

<!ELEMENT datos (cd+)>
<!ATTLIST datos type CDATA #FIXED "database">
<!ELEMENT cd (nombre,grupo,lugar,productora,precio,fecha)>
<!ATTLIST cd id ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT grupo (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>
<!ELEMENT productora (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>